.place-modal-visit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;
    max-width: 2000px;
    background-color: #e7decc;
    border: 1px solid white;
    border-radius: 25px;
    /* overflow: hidden;
    overflow-y: auto; */
    padding: 10px 20px;
}

.visit-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twofields {
    display: flex;
    justify-content: space-between;
}

.visits-divider {
    height: 5px;
    border-radius: 20px;
    background-color: #660033;
    margin: 10px 0px
}

.student {
    margin-top: 4px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

.students-errors {
    font-size: 13px;
    color: red;
}


.students-container {
    height: 50vh;
    overflow: auto;
}



.students-responsive-table {
    border-collapse: collapse;
    width: 100%;
}

.students-responsive-table td,
.students-responsive-table th {
    padding: 5px;
    border: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.smaller-column {
    width: 50px;
    /* Adjust the width as needed */
}

.excel-load {
    padding: 5px 5px;
    background-color: var(--iteractive-color);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 14px;
}

.excel-load-input{
    display: none;
}

.load-students-options{
    display: flex;
    align-items: center;
    gap: 10px
}

.download-format{
    padding: 5px 5px;
    background-color: var(--iteractive-color);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.load-single-student{
    padding: 5px 5px;
    background-color: var(--iteractive-color);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}


.students-responsive-table-2 {
    border-collapse: collapse;
    width: 100%;
}

.students-responsive-table-2 td,
.students-responsive-table-2 th {
    padding: 5px;
    border: 1px solid var(--font-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.students-responsive-table-2 input, select{
    width: 160px !important;
    font-family: 'Roboto', sans-serif !important; 
    font-size: 13px !important;
    padding: 5px !important;
    height: 35px !important;
    width: 150px !important;
    border: 1px solid var(--secondary-color);
    border-radius: 2px !important;
    background-color: var(--secondary-color);
    color: var(--font-color);
    box-sizing: border-box;
}

.delete-student-button{
    background-color: var(--iteractive-color);
    color: black;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}


.button-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.back-button{
    background-color: transparent;
    color: var(--iteractive-color);
    border: 1px solid var(--iteractive-color);
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
}

.next-button{
    background-color: var(--iteractive-color);
    color: black;
    border: 1px solid var(--iteractive-color);
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 7;
}
