@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');


:root {
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-color: #1A243A;
    --secondary-color: #212F4A;
    /* --iteractive-color: #A6C73C; */
    --iteractive-color: #FFC700;
    --font-color: #E8F0FE;
}


body {
    margin: 0;
    box-sizing: border-box;

}